doctype html
html
    head
        title Team Portal - #{varSection}
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/custom/css/style.css')
    body
        
        nav.site-header.sticky-top.py-1.navbar-dark.bg-dark
            .container.d-flex.flex-column.flex-md-row.justify-content-between
                a.py-2(href='/')
                svg.d-block.mx-auto(xmlns='http://www.w3.org/2000/svg', width='24', height='24', fill='none', stroke='currentColor', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', role='img', viewbox='0 0 24 24', focusable='false')
                    title Product
                    circle(cx='12', cy='12', r='10')
                    path(d='M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94')
                |     
                a.py-2.d-none.d-md-inline-block.nav-spacing(href='/') Home                
                |     
                a.py-2.d-none.d-md-inline-block.nav-spacing(href='/dashboard') Dashboard
                |     
                a.py-2.d-none.d-md-inline-block.nav-spacing(href='/') Contact
                |     
                if user
                    |  
                    li
                        a(href='/logout') Logout
                else
                    a.py-2.d-none.d-md-inline-block.nav-spacing(href='/register') Register
                    |   
                    a.py-2.d-none.d-md-inline-block.nav-spacing(href='/') Login
                    


        .container
            != messages('messageView',locals)
            if errors
                each error,i in errors
                    div(class='alert alert-danger') #{error.msg}
            block content
            br
            hr
            footer
                p Copyright &copy; 2020

        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/custom/js/main.js')